<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: navbar"></div>
<body>
<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Admin Panel - Edit Movie: <span th:text="${movie.getTitle()}"></span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-style-1 user-information">
                    <form th:action="@{/admin/movie/edit}" th:object="${movie}" method="post">
                        <p>Title: <input type="text" th:field="*{title}"
                                                    placeholder="Enter title" required></p>
                        <p>Genre:
                            <select class="form-control" id="testOrder"  th:field="*{genre}"  name="testOrder"  required>
                                <option value="">Select movie genre</option>
                                <option th:value="${movie.getGenre()}" selected></option>
                                <option th:each="genres : ${getAllGenres}"
                                        th:text="${genres.toString()}"
                                        th:value="${genres.toString()}"></option>
                            </select></p>
                        <p>Description: <input type="text" th:value="${movie.getDescription()}" th:field="*{description}" placeholder="Enter description" required></p>
                        <p>Start date: <input type="datetime-local" th:value="${movie.getDateFrom()}" th:field="*{dateFrom}" placeholder="Enter start date" required></p>
                        <p>Stop date: <input type="datetime-local" th:value="${movie.getDateTo()}" th:field="*{dateTo}" placeholder="Enter start date" required></p>
                        <p>Poster: <input type="text" maxlength="255" th:value="${movie.getImg()}" th:field="*{img}" placeholder="Enter link to the image"
                                          required></p>
                        <input type="hidden" th:field="*{id}" th:value="${movie.getId()}">
                        <p><input th:href="admin_movie_edit.html" type="submit" value="Edit movie"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
