<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: navbar"></div>
<body>
<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Administration Panel</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-style-1 user-information" action="#">
                    <div class="user-fav">
                        <p>Database services</p>
                        <ul>
                            <li><a th:href="@{/admin/city}">Cities</a></li>
                            <li><a th:href="@{/admin/cinema}">Cinemas</a></li>
                            <li><a th:href="@{/admin/cinemaRoom}">Cinemas Rooms</a></li>
                            <li><a th:href="@{/admin/movie}">Movies</a></li>
                            <li><a th:href="@{/admin/news}">News</a></li>
                            <li><a th:href="@{/admin/seance}">Seances</a></li>
                            <li><a th:href="@{/admin/user}">Users</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Others</p>
                        <ul>
                            <li><a href="/logout">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

