<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: navbar"></div>
<body>
<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Admin Panel - cinemas</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-style-1 user-information">
                    <tr th:each="cinema: ${cinemas}">

                        <div class="movie-item-style-2">
                            <div class="mv-item-infor">
                                <h6><span th:text="${cinema.getName()}"></span> (ID: <span
                                        th:text="${cinema.getId()}"></span>), <span
                                        th:text="${cinema.city?.getName()}"></span></h6>-->
                                <!-- admin/cinema/delete/id -->

                                <p> EDIT |
                                    <a href="admin_cinemas.html"
                                       th:href="@{/admin/cinema/delete/{cinemaId}(cinemaId=${cinema.getId()})}">Delete</a>
                                </p>
                            </div>
                        </div>





                </tr>
                <form th:action="@{cinema/add}" th:object="${newCinema}" method="post">
                    <p>Add a new Cinema: <input type="text" th:field="*{name}"
                                                placeholder="Enter name of new cinema"></p>
                    <p>
                    <select class="form-control" id="testOrder"  th:field="*{cityId}"  name="testOrder" >
                        <option value="">Select City location</option>
                        <option th:each="city : ${getAllCities}"
                                th:text="${city.getName()}"
                                th:value="${city.getId()}"></option>
                    </select></p>

                    <p><input th:href="admin_cinemas.html" type="submit" value="Add new cinema"></p>


                </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
