<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: navbar"></div>
<body>
<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Buy ticket for seance</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-style-1 user-information">
                    <div class="movie-item-style-2">
                        <img src="../static/images/uploads/mv-it2.jpg" th:src="@{/assets/images/uploads/mv-it2.jpg}">
                        <div class="mv-item-infor">
                            <h6><a href=""><span th:text="${seance.movie?.getTitle()}"></span></a></h6>

                            <tr th:each="ticket : ${allTickets}">
                            <td th:text="${ticket.getSeatId()}">AAA</td>
                            </tr>

                            <!-- <p class="describe"><span th:text="${seance.getMovie().getDescription()}"></span></p> -->
                            <p>PRICE: <span th:text="${seance.getPrice()}"></span>$</p>
                            <p>DATE: <span th:text="${seance.getDateTime()}"></span></p>
                            <input type="submit" value="SDADS"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>