<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: navbar"></div>
<body>
<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Buy ticket for seance</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-style-1 user-information">
                    <div class="movie-item-style-2">
                        <img src="../static/images/uploads/mv-it2.jpg" th:src="@{/assets/images/uploads/mv-it2.jpg}">
                        <div class="mv-item-infor">
                            <h6><span th:text="${seance.movie?.getTitle()}"></span></h6>

                            <tr th:each="seat : ${seatSeances}">
                          <td><span th:text="${seat.getState()+' '+seat.getSeatId()}"><input type="checkbox"/></span></td><br/>
                            </tr>

                            <p>Price: <span th:text="${seance.getPrice()}"></span>$</p>
                            <p>Date: <span th:text="${#temporals.format(seance.getDateTime(), 'dd-MM-yyyy HH:mm:ss')}"></span></p>
                            <p>Chosen place: <select class="form-control" name="testOrder" >
                                <option value="">Select place</option>
                                <option th:each="seat : ${freeSeatSeances}"
                                        th:text="${seat.getSeatId()}"
                                        th:value="${seat.getId()}"></option>
                            </select>
                                <p>Buy or reserve?
                            <select class="form-control" name="testOrder" >
                                <option value="">Select option</option>
                                <option value="">Buy</option>
                                <option value="">Reserve</option>
                            </select>
                            <input type="submit" value="Buy"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>