<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: navbar"></div>
<body>
<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Seances in <span th:text="${cinema.getName()}"/></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single movie_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-style-1 user-information">
                    <tr th:each="seance: ${seances}">
                        <div class="movie-item-style-2">
                            <img src="" th:src="${seance.getImg()}">
                            <div class="mv-item-infor">
                                <h6><a href=""><span th:text="${seance.movie?.getTitle()}"></span></a></h6>
                                <p class="describe"><span th:text="${seance.movie?.getDescription()}"></span></p>
                                <p>Room: <span th:text="${seance.cinemaRoom?.getName()}"></span></p>
                                <p>PRICE: <span th:text="${seance.getPrice()}"></span>$</p>
                                <p>DATE: <span th:text="${#temporals.format(seance.getDateTime(), 'dd-MM-yyyy HH:mm:ss')}"></span></p>
                                <hr>
                                <a href="buyticket.html" th:href="@{/ticket/seance/{seanceId}(seanceId=${seance.getId()})}"><input type="submit" value="Buy ticket"></a>
                            </div>

                        </div>

                    </tr>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>