<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: navbar"></div>
<body>
<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>Your tickets</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-style-1">
                    <div class="user-fav">
                        <tr th:each="ticket: ${tickets}">
                            <div class="movie-item-style-2">
                                <div class="mv-item-infor">
                                    <h6><span th:text="${'TICKET ID: '+ticket.getId()+', Movie: ' +ticket.getMovie().getTitle()+', Date: '+ticket.getDate()+' [Row: ' +ticket.getRowNumber()+' / Place: '+ticket.getPlaceNumber()+'] - '+ticket.getCinema().getName()+' ('+ticket.getCity().getName()+')'}"></span></h6>
                                </div>
                            </div>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>

